<!DOCTYPE html>
<html>
    <head>
        <title>Environment Variables</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        <div class="refresh-info" id="lastRefresh">
            <div>Last refreshed: {{ now().strftime("%Y-%m-%d %H:%M:%S") }}</div>
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
        </div>
        
        <h1>Environment Variables</h1>
        
        <div class="env-container">
            <div class="env-item">
                <strong>SSM_PARAMETER:</strong>
                <span class="env-value" id="ssm_parameter">{{ ssm_parameter }}</span>
            </div>
            <div class="env-item">
                <strong>SSM_SECRET_PARAMETER:</strong>
                <span class="env-value" id="ssm_secret_parameter">{{ ssm_secret_parameter }}</span>
            </div>
            <div class="env-item">
                <strong>S3_ENV_PARAMETER:</strong>
                <span class="env-value" id="s3_env_parameter">{{ s3_env_parameter }}</span>
            </div>
            <div class="env-item">
                <strong>SECRETS_MANAGER_PARAMETER:</strong>
                <span class="env-value" id="secrets_manager_parameter">{{ secrets_manager_parameter }}</span>
            </div>
        </div>

        <script src="{{ url_for('static', path='/app.js') }}"></script>
    </body>
</html> 